<h4>Purchases</h4>

<table class="responsive-table bordered striped">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Product</th>
      <th>Branch</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.customer %></td>
        <td><%= purchase.product %></td>
        <td><%= purchase.branch %></td>
        <td><%= purchase.price %></td>
        <td><%= purchase.description %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path, class: 'btn' %>
