<p>
  <strong>Customer:</strong>
  <%= link_to @purchase.customer, customer_path(@purchase.customer) %>
</p>

<p>
  <strong>Product:</strong>
  <%= @purchase.product %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @purchase.branch %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@purchase.price) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @purchase.description %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
