<% if @purchases.any? %>
  <h4>Purchases Report</h4>
  <div class="divider"></div>

  <div class="buffer-bottom">
    <a href="./purchases.pdf" class="btn red lighten-2">PDF</a>
    <a href="./purchases.json" class="btn blue lighten-2">JSON</a>
  </div>

  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card padding-10">
        <table class="responsive-table bordered striped">
          <thead>
            <tr>
              <th>Customer:</th>
              <td colspan="3">
                <%= link_to @customer, customer_path(@customer) %>
              </td>
            </tr>
            <tr>
              <th>Product Id</th>
              <th>Name</th>
              <th>Branch</th>
              <th class="right-align">Price</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th class="right-align" colspan="3">Total</th>
              <th class="right-align"><%= number_to_currency(@total_purchases) %></th>
            </tr>
          </tfoot>
          <tbody>
            <% @purchases.each do |p| %>
              <tr>
                <td><%= p.product.id %></td>
                <td><%= link_to p.product.name, product_path(p.product) %></td>
                <td><%= p.branch.name %></td>
                <td class="right-align"><%= number_to_currency(p.price) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
