<p>
  <strong>Number:</strong>
  <%= @customer.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @customer.detail %>
</p>

<%= link_to 'Purchases', customer_purchases_path(@customer) %> |
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
