<h2>Weekly report</h2>

<h4>Differences:</h4>

<% if @report[:max] %>
  <table border="1">
    <thead>
      <tr>
        <td></td>
        <th>Product Id</th>
        <th>Name</th>
        <th>Purchase Id</th>
        <th>Date</th>
        <th>Product Price</th>
        <th>Purchase Price</th>
        <th>Difference</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Max</th>
        <% @report[:max].each do |c| %>
          <td><%= c %></td>
        <% end %>
      </tr>
      <tr>
        <th>Min</th>
        <% @report[:min].each do |c| %>
          <td><%= c %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <h4>Average difference: <%= number_to_currency @report[:avg] %></h4>
<% else %>
  <p>There were no differences in the week.</p>
<% end %>

<h4>Purchases Count: <%= @report[:count] %></h4>

<h4>Profits: <%= number_to_currency @report[:profits] %></h4>

<h4>Average of purchases per minute: <%= @report[:purchases_minute] %></h4>
