/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'materialize/components/color';
$primary-color: color('light-blue', 'lighten-2') !default;
@import 'materialize';

.main-container {
  min-height: 500px;
}

.buffer-left {
  margin-left: 20px;
}

.buffer-bottom {
  margin-bottom: 50px;
}

.padding-10 {
  padding: 10px;
}

#error_explanation {
  color: color('red', 'lighten-1');
}

.alert {
  padding: 5px 0;
}

.alert-warning {
  color: color('orange', 'darken-3');
  background: color('orange', 'lighten-4');
}

.alert-notice {
  color: color('green', 'darken-3');
  background: color('green', 'lighten-4');
}
