<h4>Logs</h4>

<div class="divider"></div>

<table class="responsive-table bordered striped">
  <thead>
    <tr>
      <th>Operation</th>
      <th>Model</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.operation %></td>
        <td><%= log %></td>
        <td><%= link_to 'Show', log %></td>
      </tr>
    <% end %>
  </tbody>
</table>
