<p>
  <strong>Operation:</strong>
  <%= @log.operation %>
</p>

<p>
  <strong>Model:</strong>
  <%= @log %>
</p>

<p>
  <strong>JSON:</strong>
  <pre>
  <%= @log.model_json_pretty %>
  </pre>
</p>

<%= link_to 'Back', logs_path %>
