<!DOCTYPE html>
<html>
<head>
  <title>MauroShop</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= favicon_link_tag %>
</head>
<body>
  <ul id="manage1" class="dropdown-content">
    <li><%= link_to 'Customers', customers_path %></li>
    <li><%= link_to 'Branches', branches_path %></li>
    <li><%= link_to 'Products', products_path %></li>
  </ul>
  <ul id="manage2" class="dropdown-content">
    <li><%= link_to 'Customers', customers_path %></li>
    <li><%= link_to 'Branches', branches_path %></li>
    <li><%= link_to 'Products', products_path %></li>
  </ul>

  <ul id="reports1" class="dropdown-content">
    <li><%= link_to 'Purchases', purchases_reports_path %></li>
    <li><%= link_to 'Weekly', weekly_reports_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Logs', logs_path %></li>
  </ul>
  <ul id="reports2" class="dropdown-content">
    <li><%= link_to 'Purchases', purchases_reports_path %></li>
    <li><%= link_to 'Weekly', weekly_reports_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Logs', logs_path %></li>
  </ul>

  <nav>
    <div class="nav-wrapper">
      <%= link_to 'MauroShop', root_path, class: 'brand-logo buffer-left' %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'New Purchase', new_purchase_path %></li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="reports1">
            Reports
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="manage1">
            Manage
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'New Purchase', new_purchase_path %></li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="reports2">
            Reports
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="manage2">
            Manage
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container main-container">
    <div class="buffer-bottom">
      <% flash.each do |name, msg| -%>
        <%= content_tag :h5, msg, class: "z-depth-1 center-align alert alert-#{name}" %>
      <% end -%>
    </div>

    <%= yield %>
  </div>

  <footer class="page-footer grey lighten-2">
    <div class="footer-copyright grey lighten-3">
      <div class="container">
        <a class="grey-text text-darken-4" href="http://github.com/mporras/mauroshop">Mauro Porras P.</a>
      </div>
    </div>
  </footer>

  <%= javascript_include_tag 'application' %>
</body>
</html>
